header {
  background: url(../images/bannerbackground.png) center / cover;
  height: 60vh;
  justify-content: center;
  text-align: center;
}

h1 {
  color: hsla(0, 0%, 100%, 0.9);
  font-weight: bold;
}

.slogan {
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: lighter;
  font-size: 1.6rem;
}

main {
  max-width: 900px;
}

body {
  padding-bottom: 5rem;
}

.project-description {
  padding-left: 0;
}

.project img {
  width: 100%;
}

footer.mdl-mini-footer {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}


footer.mdl-mini-footer > ul {
  margin: auto;
}

@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
